
@media screen and (min-width: 1606px) {
  .fine-adjust {
    width: 45vw !important;
  }
  .fine-adjust-1 {
    width: 39vw !important;
  }
  .fine-adjust-2 {
    width: 20vw !important;
  }
  .fine-adjust-3 {
    width: 13vw !important;
  }
}
